* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*define @@@@@@*/
}

header {
    background: rgb(0, 0, 0);
    flex-wrap: wrap;
    /*para que não deforme se usuario estiver em uma tela menor*/
    width: 100%;
    height: 120px;
}

#logo img {
    width: 200px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
}

.menu li {
    list-style-type: none;
    /*tirar os pontos do link*/
}

nav {
    text-transform: uppercase;
    /*coloca o menu em letra de forma*/
    position: absolute;
    /*coloca na parte superior e no lado direito, o menu */
    top: 50px;
    /*para centralizar o menu, usamos a metade da altura do logo*/
    right: 0;
    margin-right: 20px;
    /*distancia do menu com a borda*/
}

nav a {
    text-decoration: none;
    /*tirar o sublinhado do link*/
    color: white;
}

nav li {
    display: inline;
    /*coloca o menu em linha horizontal*/
    margin: 0 0 0 20px;
    /*aumenta o espaço entre os itens no menu*/
}

figure img {
    width: 100%;
    height: 400px;
}

main img {
    /*margin-top: 50px;*/
    width: 200px;
    height: 200px;
}

//posicionamento da fila01 com flex-box//

/*Colocar a fila01 em linha. primeiro definir o FLEX do pai. pq os filho obedecem o mesmo*/

main #principal .fila01 {
    display: flex;
}

.PriFilVertic img {
    width: 200px;
    height: 200px;
}

.SegFilVertic img {
    width: 200px;
    height: 200px;
}

.FotoHorizontal img {
    width: 600px;
    height: 300px;
}