* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: rgb(0, 0, 0);
    flex-wrap: wrap;
    /*para que não deforme se usuario estiver em uma tela menor*/
    width: 100%;
    height: 120px;
}

#logo img {
    width: 200px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
}

.menu li {
    list-style-type: none;
    /*tirar os pontos do link*/
}

nav {
    text-transform: uppercase;
    /*coloca o menu em letra de forma*/
    position: absolute;
    /*coloca na parte superior e no lado direito, o menu */
    top: 50px;
    /*para centralizar o menu, usamos a metade da altura do logo*/
    right: 0;
    margin-right: 20px;
    /*distancia do menu com a borda*/
}

nav a {
    text-decoration: none;
    /*tirar o sublinhado do link*/
    color: white;
}

nav li {
    display: inline;
    /*coloca o menu em linha horizontal*/
    margin: 0 0 0 20px;
    /*aumenta o espaço entre os itens no menu*/
}

nav li a {}

figure img {
    width: 100%;
    height: 400px;
}

main img {
    max-width: 100%;
    display: block;
}


/*usando FLEX-BOX*/


/* use FLEX no pai e no filho*/

main {
    display: flex;
}

.flex {
    display: flex;
    /*indicar que pode quebrar*/
    flex-wrap: wrap;
}


/*colocando a altura igual a 200px para todas as fotos*/

.flex>div {
    flex: 1 1 200px;
    margin: 5px;
}


/*usando GRID*/

.grid1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

grid1>div:nth-child(1) {
    display: grid;
    grid-template-columns: 2, 1fr;
}

.grid1 img {
    width: 100%;
    height: 400px;
}